.rich-text-editor {
  height: fit-content;
  max-height: 300px;
  overflow-y: auto;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-color: var(--border) !important;
}

.ql-toolbar {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  border-bottom: none;
  border-color: var(--border) !important;
}
